<div>
  <ul class="nav-bar">
    <div>
      <ul class="nav-bar">
        <li>
          <form class="nav-button" action="/" >
            <button type="submit" >Home</button>
          </form>
        </li>
        <li>
          <% if current_user %>
            <h4>Hello <%= current_user.username %> <%= link_to "Logout", logout_path, method: :delete %></h4>
          <% else %>
            <h4><%= link_to "Register", new_user_path %> <%= link_to "Login", login_path %></h4>
          <% end %>
        </li>
      </ul>
    </div>
  </ul>
</div>

<div class="today-title">
  <h2>Today's Games:</h2><br>
</div>

<div class="schedule">
  <% @games.each do |game| %>
    <% if game %>
      <% if Time.now <= Time.parse(game.game_time) %>
        <%= game.home_team %> host the <%= game.away_team %> at <%= game.game_time %><br>
      <% else %>
        game results:<br>
      <% end %>
    <% else %>
      <%= nil %>
    <% end %>
  <% end %>
</div>

<div class="conferences">
  <% @conference_results.each do |conference| %>
    <div class="<%= conference.name.downcase %>-conf <%= conference.highest_win_percentage %>">
      <div class="<%= conference.name.downcase %>-name">
        <h1><%= conference.name_upcased %></h1>
      </div>
      <hr>
      <% conference.conference_teams.each_with_index do |team,index| %>
        <% if index == 1 %>
          <% if conference.name.downcase == "western" %>
            <% @west_images.each do |url| %>
              <%= image_tag (url) if url[0..2].upcase == "#{conference.conference_teams[0].abbrev}" %>
            <% end %>
          <% else %>
            <% @east_images.each do |url| %>
              <%= image_tag (url) if url[0..2].upcase == "#{conference.conference_teams[0].abbrev}" %>
            <% end %>
          <% end %>
        <% end %>
      <h4><%= index + 1 %>) <%= team.abbrev %> <%= team.name %> |
        <%= team.wins %> - <%= team.losses %> <br>
        Points PG <%= team.ppg %> | FG %: <%= team.fg_pct %><br>
        Fouls pg: <%= team.fouls_pg %> | Fouls drawn pg: <%= team.fouls_drawn_pg %><br>
        3'S PG: <%= team.threes %> | Ast PG: <%= team.ast_pg %><br>
        Off Reb PG: <%= team.o_reb_pg %> | Def Reb PG: <%= team.d_reb_pg %><br>
      </h4>
        <% if index == 7 %>
          <hr>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
