<div>
  <ul class="nav-bar">
    <div>
      <ul class="nav-bar">
        <li>
          <form class="nav-button" action="/" >
            <button type="submit" >Home</button>
          </form>
        </li>
      </ul>
    </div>
  </ul>
</div>



<div class="schedule">
  <h2>Today's Games:</h2>
  <% @games.each do |game| %>
    <% if game.formatted_current_time[0] <= game.formatted_game_time[0] %>
      <%= game.home_team %> host the <%= game.away_team %> at <%= game.game_time %><br>
      <% else %>
        <h1>game results:</h1>
    <% end %>
  <% end %>
</div>

<div class="conferences">
  <% @conference_results.each do |conference| %>
    <div class="<%= conference.name.downcase %>-conf <%= conference.highest_win_percentage %>">
      <div class="<%= conference.name.downcase %>-name">
        <h1><%= conference.name_upcased %></h1>
        <h1><%= @west_random_image %></h1>
        <h1><%= @east_random_image %></h1>
        <%# if conference.name == "western" %>
          <%#= image_tag ( "#{@west_random_image}") %>
        <%# else %>
          <%#= image_tag ( "#{@east_random_image}") %>
        <%# end %>
      </div>
      <hr>
      <% conference.conference_teams.each_with_index do |team,index| %>
      <h4><%= index + 1 %>) <%= team.abbrev %> <%= team.name %> |
        <%= team.wins %> - <%= team.losses %> <br>
        Points PG <%= team.ppg %> | FG %: <%= team.fg_pct %><br>
        Fouls pg: <%= team.fouls_pg %> | Fouls drawn pg: <%= team.fouls_drawn_pg %><br>
        3'S PG: <%= team.threes %> | Ast PG: <%= team.ast_pg %><br>
        Off Reb PG: <%= team.o_reb_pg %> | Def Reb PG: <%= team.d_reb_pg %><br>
      </h4>
        <% if index == 7 %>
        <hr>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
