<div>
  <ul class="nav-bar">
    <li>
      <% if @current_uri == "/teams" %>
      <div>
        <ul class="nav-bar">
          <li>
            <form class="nav-button" action="/" >
            <button type="submit" >Home</button>
            </form>
          </li>
        </ul>
      </div>
      <% else %>
      <div>
        <ul class="nav-bar">
          <li>
            <form class="nav-button" action="/" >
            <button type="submit" >View Teams</button>
            </form>
          </li>
        </ul>
      </div>
      <% end %>
    </li>
  </ul>
</div>

<div class="conferences">
  <% @conference_results.each do |conference| %>
    <div class="<%= conference.name.downcase %>-conf">
      <h1><%= conference.name %></h1>
      <hr>
      <% conference.conference_teams.each_with_index do |team,index| %>
        <h4><%= index + 1 %>) <%= team.abbrev %> <%= team.name %> |
        <%= team.wins %> - <%= team.losses %> <br>
        FG %: <%= team.fg_pct %> | Fouls pg: <%= team.fouls_pg %></h4>
        <% if index == 7 %>
        <hr>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
